.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #a01e08; /* Fondo oscuro */
  position: static;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left:0 ;
}

.navbar-logo img {
  max-height: 40%; /* Ajusta el tamaño máximo del logo */
  max-width: 40%; /* Evita desbordes horizontales */
  object-fit: contain; /* Ajusta la imagen dentro del contenedor */
  align-self: flex-start;
  padding-left: 0px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
 
}

.number {
  color: #fff;
  font-size: 15px;
  margin-left: 15px;
}
.navbar-email {
  color: #fff;
  font-size: 15px;
}
.navbar-link {
  text-decoration: none;
  color: rgb(248, 248, 248);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.navbar-link:hover {
  background-color: #ffffff; 
  color: #000; 
  border-color: #a01e08; /* Borde rojo oscuro */
}

.instagram-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
  margin: 0 10px;

}
.instagram-link {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaciado entre texto e ícono */
}

.instagram-icon:hover {
  transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 1000px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
  }

  .navbar-links {
    gap: 15px;
    justify-content: center;
    margin: 0;
  }
  .navbar-logo img {
    margin: 0;
  }
}

@media (max-width: 778px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
  }

  .navbar-link {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
  }
  .navbar-logo img {
    margin: 0;
    align-self: start;
  }
  .instagram-link {
    justify-content: flex-start; /* Alinea el ícono e Instagram a la izquierda */
  }
}

@media (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, info a la derecha */
    align-items: center; /* Alinea verticalmente */
    flex-direction: row; /* Mantén los elementos en una fila */
    padding: 10px 15px; /* Ajusta el espaciado */
  }

  .navbar-logo img {
    max-height: 100%; /* Limita la altura del logo */
    max-width: 100%; /* Limita la anchura del logo */
    object-fit: contain; /* Asegura que el logo mantenga su proporción */
  }

  .navbar-links {
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    align-items: flex-end; /* Alinea a la derecha */
    gap: 10px; /* Espaciado entre los elementos */
  }

  .navbar-link {
    font-size: 0.9rem; /* Tamaño más pequeño del texto */
    text-align: left; /* Asegura que el texto quede alineado a la izquierda */
    width: 100%;
  }

  .number {
    font-size: 14px; /* Ajusta el tamaño del número */
  }

  .instagram-icon {
    width: 20px;
    height: 20px;
   
    align-items: flex-end;
    display: flex;
  }
  .instagram-link {
    gap: 3px;
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 0;
  }
}
