.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #a01e08;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

.burger-button {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 0;
}

.navbar-logo img {
  max-height: 40px;
  max-width: 100%;
  object-fit: contain;
  align-self: start;
}

.navbar-links {
  display: flex;
  gap: 15px;
  align-items: center;
  transition: max-height 0.3s ease-in-out;
}

.navbar-links.open {
  display: flex;
  flex-direction: column;
  background-color: #a01e08;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px;
  gap: 10px;
  border-top: 2px solid white;
  max-height: 500px;
}

.number,
.navbar-email,
.navbar-link {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding-right: 10px;
  width: 100%;
  text-align: left;
  display: block;
}


.instagram-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
  margin: auto;
}
.facebook-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
  
}
.facebook-icon,.instagram-icon{
  align-self: flex-end;
  
}
.instagram-icon:hover,
.facebook-icon:hover {
  transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 778px) {
  .burger-button {
    display: block;
    align-self: flex-end;
  }

  .navbar-links {
    max-height: 0; /* Oculto inicialmente */
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    transition: max-height 0.3s ease-in-out;
  }

  .navbar-links.open {
   max-height: 500px;

  }
}

@media (max-width: 480px) {
  .navbar {
    gap: 10px;
    padding: 10px;
  }

  .navbar-logo img {
    max-height: 150%;
    max-width: 150%;
    
  }

  .navbar-links {
    gap: 10px;
    padding: 10px;
  }

  .number,
  .navbar-email,
  .navbar-link {
    font-size: 13px;
    padding: 8px;
  }

  .instagram-icon{
    width: 18px;
    height: 18px;
  }
  .facebook-icon{
    width: 40px;
    height: 40px;
  }
}
