/* Variables Globales */
:root {
  --primary-color: #e63946;
  --text-color: #1f2937;
  --background-color: white;
  --shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Reseteo general */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.services {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin: 1rem auto;
  max-width: 100%;
  border: 3px solid var(--primary-color);
}

.services h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.carousel-container {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.service-slide {
  text-align: center;
  padding: 1rem;
}

.slick-slide img {
  width: 265px;
  height: 199px;
  border-radius: 0.5rem;
  object-fit: contain;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease-in-out;
}

.slick-slide img:hover {
  transform: scale(1.05);
}

.services-text {
  margin-top: 2rem;
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--text-color);
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Flechas de navegación */
.slick-prev,
.slick-next {
   /* Color de fondo */
  border-radius: 50%; /* Hacerlas circulares */
  padding: 15px; /* Aumentamos el tamaño */
  font-size: 24px; /* Hacemos las flechas más grandes */
  color: rgb(241, 15, 15); /* Color de las flechas */
  z-index: 10;
  font-size: 0;
}

.slick-prev {
  left: 10px;
  
}

.slick-next {
  right: 10px;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick'; /* Usar la fuente predeterminada de Slick para iconos */
  font-size: 30px; /* Tamaño de los íconos de las flechas */
  color: rgb(252, 20, 20); /* Color de las flechas */
}

/* Responsividad */
@media (max-width: 1024px) {
  .services {
    padding: 1.5rem 1rem;
  }

  .services h2 {
    font-size: 2rem;
  }

  .slick-slide img {
    max-height: 18rem;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 1rem 0.5rem;
  }

  .services h2 {
    font-size: 1.8rem;
  }

  .slick-slide img {
    max-height: 15rem;
  }
}

@media (max-width: 480px) {
  .services {
    padding: 0.5rem;
    margin: 0;
  }

  .services h2 {
    font-size: 1.5rem;
  }

  .slick-slide img {
    max-height: 12rem;
  }
}
